/* HEADER */
.NavLink {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
}

/* HOME PAGE */
.homeJumbotron {
    background-image: url("images/home.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

.homeText {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-top: 7%;
}

/* PORTFOLIO PAGE */
.portfolioJumbotron {
    background-image: url("images/portfolio.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

.portfolioText {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 10%;
}

.resumeDiv {
    background-image: url("images/resume.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
}

.resumeText {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 25%;
}

/* CONTACT PAGE */
.contactJumbotron {
    background-image: url("images/contact.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

.contactText {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    padding-top: 10%;
}

h2, p {
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

/* FOOTER */
footer {
    background-color: #b7b7b7;
    color: whitesmoke;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}